export(extract)
export(extractAAC)
export(extractCTDC)
export(extractCTDD)
export(extractCTDT)
export(extractCTriad)
export(extractDC)
export(extractGeary)
export(extractMoran)
export(extractMoreauBroto)
export(extractQSO)
export(extractSOCN)
export(extractTC)
export(readFASTA)
exportPattern("^[^\\.]")
useDynLib(rdpi)
