export(acc)
export(extractAAC)
export(extractAPAAC)
export(extractBLOSUM)
export(extractCTDC)
export(extractCTDD)
export(extractCTDT)
export(extractCTriad)
export(extractDC)
export(extractDescScales)
export(extractFAScales)
export(extractGeary)
export(extractMDSScales)
export(extractMoran)
export(extractMoreauBroto)
export(extractPAAC)
export(extractPropScales)
export(extractQSO)
export(extractSOCN)
export(extractScales)
export(extractTC)
export(getUniProt)
export(parGOSim)
export(parSeqSim)
export(protcheck)
export(protseg)
export(readFASTA)
export(readPDB)
exportPattern("^[^\\.]")
